html,
body {
  user-select: none;
  scroll-behavior: smooth;
}

.name {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  background-image: url(./images/bz.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hari {
  color: white;
  font-size: 200%;
  font-family: "Cinzel Decorative", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  font-size: 113%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#con {
  margin-top: 2%;
}

.hariimg {
  width: 225px;
  height: 224px;
  object-fit: cover;
  border-radius: 5px;
}

#parta {
  padding: 0%;
  margin: 0%;
}

#partb {
  padding: 0%;
  margin: 0%;
}

#partc {
  padding: 0%;
  margin: 0%;
  font-family: "Outfit", sans-serif;
}

#partd {
  padding: 0%;
  margin: 0%;
  font-family: "Josefin Sans", sans-serif;
}

.keyans {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.key {
  color: grey;
  font-size: 16px;
}

.skilla {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
}

.skill {
  border: solid 2px lightgray;
  padding: 1px;
}

.parte {
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin: 2%;
}

#email,
#in,
#git {
  color: black;
}

#email:hover {
  background-color: rgb(72, 77, 77);
  border: solid 2px rgb(156, 148, 148);
  color: white;
}

#in:hover {
  background-color: rgb(72, 77, 77);
  border: solid 2px rgb(156, 148, 148);
  color: white;
}

#git:hover {
  background-color: rgb(72, 77, 77);
  border: solid 2px rgb(156, 148, 148);
  color: white;
}

#partd {
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1%;
}

.imga {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume {
  background-color: lightblue;
  color: white;
  border: solid 2px lightgray;
}

.data {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  row-gap: 25px;
  column-gap: 110px;
  margin-top: 3%;
  padding-bottom: 6%;
}

.dataone {
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  width: 270px;
  background-image: linear-gradient(
    to right top,
    #e2f07f,
    #b2f5a1,
    #8cf4c5,
    #7deee3,
    #8ae6f4
  );
  border-radius: 16px;
}

.spl {
  color: white;
}

.spl,
.wd,
.wi {
  text-align: center;
}

.wi {
  margin-top: 4px;
}

.wt {
  margin-top: 3.5%;
  font-family: "Josefin Sans", sans-serif;
}

.imgs {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: solid 1px black;
  border-radius: 8px;
}

.main {
  font-family: "Cinzel Decorative", cursive;
}

#git,
#in,
#email {
  font-size: 50px;
  padding: 2%;
  border: solid;
  border-radius: 50%;
}

.new {
  font-family: "Josefin Sans", sans-serif;
}

.resumebtn {
  margin-top: 2%;
  margin-left: 1%;
}

#csicon,
#cdicon,
#paicon {
  height: 41%;
  width: 40%;
  border: solid;
  border-radius: 50%;
  color: black;
}

.develop {
  font-family: "Outfit", sans-serif;
  color: rgb(71, 66, 66);
  height: 10vhvh;
  font-weight: bolder;
  text-align: center;
  background-color: rgb(200, 230, 240);
}

.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.connectitems {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.x {
  font-family: "Cinzel Decorative", cursive;
}

.y {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
li:hover {
  background-color: blue !important;
}
li:hover .y {
  font-family: "Cinzel Decorative", cursive !important;
  color: white !important;
  font-weight: bolder;
}

#nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.skilla :hover {
  background-color: lightblue;
}

.resume:hover {
  background-color: rgb(87, 83, 83);
  color: white;
}

.imgs:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

#abc {
  min-height: 0px;
  height: auto;
  transition-duration: 275ms;
}

#sks {
  padding: 13px;
  border: solid lightskyblue;
  box-shadow: 4px 5px darkcyan;
  background-image: linear-gradient(
    to right top,
    #e2f07f,
    #b2f5a1,
    #8cf4c5,
    #7deee3,
    #8ae6f4
  );
  border-radius: 25px;
}

#sks:hover {
  transition: 0.5s;
  transform: scale(1.1);
  background-image: linear-gradient(
    to right top,
    #1526e8,
    #0086ff,
    #00b9f4,
    #00e0a8,
    #bcfc80
  );
  color: white;
  border: none;
  border-radius: 4px;
}

#sks:hover #csicon {
  background-image: linear-gradient(
    to bottom,
    #7ed8e0,
    #76e6d6,
    #89f1bf,
    #b1f9a1,
    #e4fb83
  );
  border: solid 6px white;
}

#sks:hover #paicon {
  background-image: linear-gradient(
    to bottom,
    #7ed8e0,
    #76e6d6,
    #89f1bf,
    #b1f9a1,
    #e4fb83
  );
  border: solid 6px white;
}

#sks:hover #cdicon {
  background-image: linear-gradient(
    to bottom,
    #7ed8e0,
    #76e6d6,
    #89f1bf,
    #b1f9a1,
    #e4fb83
  );
  border: solid 6px white;
}

#sk {
  margin-bottom: 3%;
}

#sectiona {
  margin-top: 7%;
  padding-bottom: 1%;
  border: solid lightblue;
  background-image: linear-gradient(
    to right top,
    #e2f07f,
    #b2f5a1,
    #8cf4c5,
    #7deee3,
    #8ae6f4
  );
  border-radius: 15px;
  box-shadow: 3px 3px lightseagreen;
}

#sectiona:hover {
  margin-top: 7%;
  padding-bottom: 1%;
  /* transition: 0.5s; */
  border: solid lightseagreen;
  background-image: linear-gradient(
    to right top,
    #1526e8,
    #0086ff,
    #00b9f4,
    #00e0a8,
    #bcfc80
  );
  border-radius: 15px;
  color: white;
}

.apple {
  height: 41%;
  width: 40%;
  border: solid;
  border-radius: 50%;
}

#ball {
  width: 43px;
  height: 48px;
}

#xa,
#xb,
#xc {
  font-size: 32px;
  color: brown;
}

#xa:hover {
  color: blue;
}

#xb:hover {
  color: blue;
}

#xc:hover {
  color: blue;
}

.gf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ta,
#tb {
  height: 100%;
  width: 285px;
}

#cat {
  width: 100%;
  height: 100%;
}

#oi {
  color: black;
}

#oi:hover {
  color: rgb(42, 42, 218);
}

#ole {
  border: solid lightblue;
  padding: 5px;
  padding-top: 7px;
  box-shadow: 4px 5px lightseagreen;
}

#ole:hover {
  transition: 0.5s;
  transform: scale(1.1);
  background-image: linear-gradient(
    to right top,
    #1526e8,
    #0086ff,
    #00b9f4,
    #00e0a8,
    #bcfc80
  );
  color: white;
  border: none;
  border-radius: 4px;
}

#ole:hover #oi {
  color: white;
}

#ole:hover .imgs {
  transition: 0.5s;
  transform: scale(1.1);
}

.Portfolio {
  background-image: radial-gradient(
    circle,
    #051937,
    #103d64,
    #136692,
    #0f93c0,
    #12c2eb
  );
}

hr {
  color: white !important;
  opacity: 1.25 !important;
  margin-top: 9%;
}

.new {
  padding: 8px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#skillhr {
  margin-top: 3%;
}
.usera {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.usermessage,
.usersubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.usermessage,
.usersubmit {
  margin-top: 1%;
}
.aka {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vja {
  margin-top: 3%;
  border: solid;
  padding: 1%;
  border: solid lightskyblue;
  box-shadow: 2.5px 2.5px darkcyan;
  background-image: linear-gradient(
    to right top,
    #e2f07f,
    #b2f5a1,
    #8cf4c5,
    #7deee3,
    #8ae6f4
  );
  border-radius: 14px;
}
.forma {
  font-family: "Josefin Sans", sans-serif;
}
.sua {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 20px;
}
#textarea,
#textgmail,
#submit {
  border-radius: 5px;
  border: solid 2px lightgray;
}
#submit {
  border: none;
  background-image: linear-gradient(
    to right top,
    #1526e8,
    #0086ff,
    #00b9f4,
    #00e0a8,
    #bcfc80
  );
}
.Contact {
  padding-bottom: 3%;
}
